body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
}

h1 {
  color: #fef2bf;
}

#level-title {
  font-size: 1.25rem;
  margin: 2%;
  color: #fef2bf;
}
#level-instruction {
  font-size: 0.75rem;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 8px solid black;
  border-radius: 10%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
